
<h2>República Dominicana</h2>
<p>La Resiliencia Costera es una herramienta para la toma de decisiones que provee a planificadores locales, provinciales y nacionales un proceso en etapas para guiar decisiones que reducen los riesgos ecológicos y socio-económicos de daños costeros. Este portal contiene capas ecológicas, modelos de aumento de nivel del mar y vulnerabilidad costera e indicadores de vulnerabilidad socioeconómica y ambiental para guiar la preparación para desastres y la planificación costera.  Para obtener más información, visite: <a href="https://coastalresilience.org/project/republica-dominicana/" target="_blank"><b>Republica Dominicana</b></a><br><br>Para obtener mejores resultados, se recomienda accede a este portal de datos utilizando Google Chrome.<br><br>Si está interesado en obtener información técnica sobre los modelos y los datos presentados en esta herramienta, obtenga más información <a href="https://media.coastalresilience.org/Resilient_Islands/Informaci%C3%B3nT%C3%A9cnica.pdf" target="_blank"><b>aquí</b></a></p>
<h3 class="i18n" data-i18n="Partners">Socios</h3>
<div class="partners">
    <ul>
    
        <li>
            <a href="http://nature.org" target="_blank">
                <img src="img/TNCLogoPrimary_RGB.png" alt="The Nature Conservancy" title="The Nature Conservancy">
            </a>
        </li>
    
    </ul>
</div>
<div style="text-align:center;">
	<button class="button button-primary openApp">Get Started</button>
</div>	

<script>
	$(".openApp").click(function(c){
		$(c.currentTarget).parent().parent().parent().find(".button-link").trigger("click")
	})
</script>